::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.live-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.bouton-reduction {
  width: 32;
  height: 32px;
  background-color: red;
}
